* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    text-align: center;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 11%;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.logo img {
    margin-left: 140px;
    max-width: 100%;
    height: auto;
    width: 120px;
}
.buscadorea {
    position: relative;
    width: 300px;
}
.buscadorea > input {
    width: 100%;
    padding: 12px 20px 12px 20px;
    border-radius: 30px;
    border: 2px solid black;
    background-color: #fff;
}

.navbar {
    display: flex;
    margin-right: 50px;
}

.navbar a {
    display: block;
    padding: 25px 20px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 120%;
}

.navbar img {
    width: 101%;
    height: auto;
    max-height: 24px;
}

.navbar a:hover {
    background: #e91e63;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 460px;
}

.header>img {
    z-index: -1;
    position: absolute;
    top: -10%;
    max-width: 100%;
    height: 40em;
}


p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 150px;
}

.berriak {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f7;
    padding: 160px 0px 80px 0px;
}

.kutxa-edukia {
    display: flex;
    justify-content: center;
    text-align: center;
}

.kutxa-edukia .kutxa {
    display: flex;
    flex-direction: column;
    height: 420px;
    width: 270px;
    background-color: #f5f5f7;
    text-align: center;
    margin: 20px;
    border-radius: 20px;
    border: 2px solid black;
}

.zatia1 {
    height: 76%;
}

.zatia2 {
    height: 24%;

}

.kutxa-edukia .kutxa h3 {
    font-size: 25px;
    margin-top: 10px;
    color: #e91e63;
}

.kutxa-edukia ul {
    color: black;
    text-align: left;
    font-size: 17px;
    padding-left: 35px;
    padding-right: 10px;
}

.kutxa-edukia .kutxa img {
    display: block;
    height: 130px;
    width: auto;
    margin: 2% auto;
    
}

.kutxa-edukia .kutxa p {
    padding: 0 15px;
    font-size: 16px;
}

.linea2 {
    border-top: 1px solid black;
    width: 100%;
    text-align: center;
    margin-bottom: -30px;
}

.erosiBotoia {
    border-radius: 5px;
    background-color: #e91e63;
    padding: 5px 20px;
    color: black;
    font-weight: bold;
    margin-top: 43px;
}

.balioa {
    color: black;
    padding: 17px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
}

.kutxa-edukia .kutxa .stars {
    margin-top: -10px;
    color: black;
}
